extends ../layout

block content
    h1.
         #{title}
    ul
        - each trip, i in trips
            li
                = trip.start
                = trip.to
                = trip.travelDate
                = trip.travelTime
                = trip.booked
                = trip._id
                = trip.bookedThrough
                = trip.cost
                = trip.currency
                = trip.completed
                form(action='/trips/#{trip._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                    input(type='hidden',value='DELETE',name='_method')
                    button(type='submit').
                        Delete
                p
                    a(href='/trips/#{trip._id}/edit') Edit
                p
                    a(href='/trips/#{trip._id}') Show
Contact GitHub API Training Shop Blog About
