extends ../layout

block content
    h1.
        #{title}
    form#formAddBlob(name="addtrip",method="post",action="/trips")
        p From:
            input#inputStart(type="text", placeholder="eg New York", name="start")
        p To:
            input#inputTo(type="text", placeholder="ex. 123456", name="to")
        p Travel Date:
            input#inputTravelDate(type="date", name="travelDate")
        p Booked:
            input#inputIsLoved(type="checkbox", name="booked")
        p
            button#btnSubmit(type="submit") submit
